body {
  margin: 40px;
  font-family: 'Trispace', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.date {
  font-style: italic;
}


/*Forms*/

.thoughts-form, .thoughts-card {
  margin: 20px auto;
  border: 2px solid black;
  width: 500 px;
  box-shadow: 5px 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thoughts-card {
  word-wrap: break-word;
}

.thoughts-form {
 background-color: #f2f0f0;
}


.form-title {
  margin-top: 0;
  font-weight: bold;
}


/*button*/

 form button {
  margin-top: 10px;
  width: 250px;
  background-color: #ffadad;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-family: 'Trispace', sans-serif;
  font-weight: bold;
  cursor: pointer;
}


/*media queries*/

@media (min-width: 667px) {
  form,
  .thoughts-form {
    margin: 20px;
}
}